:root {
  --color-primary: #E2DAFC;
  
  --color-secondary: #273878;
  --color-secodary-gradient: linear-gradient(180deg, #273878 0%, #202847 100%);
  --color-secondary-dark: #273878;
}

body {
  width: 100%;
  height: 100%;
  background: var(--color-secodary-gradient);
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}