
:root {
  --color-primary: #E2DAFC;
  --color-primary: rgb(180, 167, 221);
  --color-primary-light: #E4D9FF;
  --color-primary-extraLight: #eae3fa;
  --color-primary-alpha20: RGBA(226,218,252,0.3);
  --color-primary-gradient: linear-gradient(180deg, #E1DAFC 0%, #ECE7FF 100%);
  
  --color-secondary-light: #42579b;
  --color-secondary: #273878;
  --color-secodary-gradient: linear-gradient(180deg, #273878 0%, #202847 100%);
  --color-secondary-dark: #1E2749;

  --min-width-px: 730px;
}

b{
  font-weight: 600;
}

body {
  width: 100%;
  height: 100%;
  background: var(--color-secodary-gradient);
  font-family: 'Lufga', sans-serif;
  font-weight: lighter;
  padding: 0;
  margin: 0;
  color: var(--color-primary-light);
}

button {
  font-family: 'Lufga', sans-serif;
  font-weight: lighter;
}

h2 {
  font-weight: 200;
  font-size: 30px;
}

p {
  font-size: 18px;
  line-height: 1.2;
}

a {
  padding: 0;
  margin: 0;
  margin-bottom: 8px;
  font-weight: 500;
  text-decoration: none;
  color: white;
}

svg {
  color: white;
}

a:hover,
svg:hover {
  color: var(--color-secondary-light);
}

model-viewer{
  --poster-color: transparent;
} 
