body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
 
@font-face {
  font-family: "PralineMCL";
  src: local("PralineMCL"),
    url("./fonts/PralineMCL.ttf") format("truetype");
  font-weight: normal;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0.1; }
  100% { opacity:1; }
}